.header {
    background: #1A1E22;
    padding: 0rem;
    border-bottom: white;
}

.logo {
    width: 102px;
    height: 96px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.firstContainer {
    margin-left: 20px;
    display: flex;
    align-items: center;
}

.searchContainer {
    display: flex;
    align-items: center;
    border: 4px solid #718090;
    background-color: #718090;
    border-radius: 20px;
    padding: 5px 10px;
    margin-left: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.searchInput {
    background-color: #718090;
    width: 12em;
    border: none;
    outline: none;
    flex-grow: 1;
    border-radius: 20px;
    padding: 5px;
    color: white;
}

.searchInput::placeholder {
    color: #BDBDBD;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;
}

.searchIcon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    cursor: pointer;
}

.secondContainer {}

.fourButtons {}

.homepage,
.play,
.code,
.group {
    padding: 16px 40px;
    width: 60px;
    height: 60px;
    margin: 0px 32px;
    flex-shrink: 0;
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
}

.homepage:hover,
.play:hover,
.code:hover,
.group:hover {
    transition: all 0.3s ease;
    background-color: rgba(252, 252, 252, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.homepage {}

.play {}

.code {}

.group {}

.imageClicked {
    border-bottom: 2px solid green;
    transition: border-bottom 0.3s ease;
}

.thirdContainer {
    margin-right: 40px;
}

.fiveButtons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 13px;
}

.settingContainer {
    width: 60px;
    height: 60px;
    background-color: #4B5661;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.messaging,
.notifications,
.settings,
.profile {
    height: 38px;
    width: 38px;
}

.profile {
    margin-left: 5px;
}