.footerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
    background-color: #1A1E22;
}

.agreementLink {
    color: inherit;
    text-decoration: none;
    font-family: inherit;
    font-size: inherit;
}

.agreementLink:hover {
    color: #4B5661;
}

.agreementText,
.copyright {
    font-family: Poppins;
    font-size: 10px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    color: #B7B7B7;
    padding: 10px 40px;
}

.copyright {
    margin-bottom: 10px;
}

@media (max-width: 1555px) {
    .footerContainer {
        display: flex;
        left: 5vw;
        height: 40px;
        width: auto;
    }
}

@media (max-width: 840px) {
    .footerContainer {
        display: flex;
        left: 5vw;
        height: auto;
        width: auto;
    }
}