.sideProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 50px;
    margin-top: 20px;
    width: 650px;
    transition: all 0.3s ease;
}

.collapsedSideProfile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-top: 20px;
    width: 80px;
    transition: all 0.3s ease;
}

.collapsedGrid {
    display: flex;
    flex-direction: column;
}

.collapsedContainer {
    display: flex;
    width: 60px;
    padding: 1vh;
    border-radius: 10px;
    text-decoration: none;
    transition: width 0.3s ease;
}

.collapsedContainer:hover {
    transition: all 0.3s ease;
    background-color: rgba(252, 252, 252, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.collapsedText {
    display: none;
    opacity: 0;
    transition: width 0.3s ease;
}

.leftGrid {
    grid-column: 1;
    display: flex;
    flex-direction: column;
    width: 80px;
    transition: width 0.3s ease;
}

.rightGrid {
    grid-column: 2;
    display: flex;
    align-items: center;
    transition: width 0.3s ease;
}

.container {
    display: flex;
    width: 300px;
    padding: 1vh;
    border-radius: 10px;
    text-decoration: none;
}

.container:hover {
    transition: all 0.3s ease;
    background-color: rgba(252, 252, 252, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.profile,
.groupProfile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile {
    background-color: #4B5661;
}

.profileImage,
.groupImage {
    width: 38px;
    height: 38px;
}

.profileImage {
    margin-left: 5px;
}

.mediaImage {
    width: 60px;
    height: 60px;
}

.text {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    margin-left: 20px;
}

.groupProfile {}

.groupImage {}

.logo {
    width: 60px;
    height: 60px;
}

.collapse, .collapseRotate {
    width: 30px;
    height: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 50%;
    transition: all 0.3s ease;
}

.collapse {
}

.collapse:hover {
    opacity: 100%;
    transition: all 0.3s ease;
}

.collapseRotate {
    transform: rotate(180deg);
}

@media (max-width: 840px) {

    .text,
    .collapse {
        display: none;
    }

    .sideProfile,
    .container {
        margin-left: 10px;
        width: 60px;
    }
}